/*Esperanza tiene cara de culo*/
body{
  font-family: arial;
  font-size: 14px;
}
header{
  text-align:center;
}
table{
  border: 2px solid black;
  margin: 0 auto;
  border-collapse:collapse;
}
td{
  text-align: center;
}
td,tr,th{
  white-space: nowrap;
  padding: 0.4em 0.8em;
  border:2px solid black;
}
th{
  text-align: left;
  color: white;
  background-color: #074FF0;
}
tr:first-child th {
  vertical-align: top;
  writing-mode: vertical-lr;
}
input[type="text"]{
  width: 50%;
  text-align: center;
}
.vacio{
	background-color: #FFDE01;
}
input[type="submit"]{
	width:15% ;
	height:15%;
	font-size:x-large;
	margin-top:2%;
}
#tabla{
	margin: 0 auto;
	text-align:center;
}