body{
	margin: 50px;
}

.inputs{
	margin: 0px 0px 30px 20px;
	width: 100px;
	height: 20px;
	border-radius: 5px;
}

#inputequipo{
	margin: 0px 0px 10px 20px;
	width: 100px;
	height: 20px;
	border-radius: 5px;
}

.inputs2{
	margin: 0px 0px 30px 90px;
	width: 100px;
	height: 20px;
	border-radius: 5px;
}

#equipomas{
	margin: auto;
}

#botonmas{
	width: 30px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
	border-radius: 15px;
	background-color: yellow;
	margin-left: 2px;
}

.botonmenos{
	width: 30px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
	border-radius: 15px;
	background-color: red;
	margin-left: 6px;
}

#botonEnviar{
	width: 100px;
	height: 50px;
	font-size: 20px;
	background-color: gray;
	border-radius: 10px;
	margin-top: 20px;
}

#botonEnviar:hover{
	background-color: lightgray;
}
